<div class="flex items-center">
    <a href="/" class="flex items-center space-x-2">
        <img 
            id="header-logo"
            src="<%= isDarkMode ? '/images/logo_dark_mode.svg' : '/images/logo_light_mode.svg' %>" 
            alt="LinkIt Logo" 
            class="h-12 w-auto"
        />
        <!-- <span class="text-xl font-bold text-custom-green">LinkIt</span> -->
    </a>
</div>


